{% extends 'base.html.twig' %}



{% block body %}
    <!-- #TODO RESTYLE -->
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="flex items-center justify-center min-h-screen bg-section_1">
        <div class="w-full max-w-md p-6 bg-secondary rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold text-center text-white mb-6"> Login </h2>

            <form action="{{ path('app_login') }}" method="post">
                <!-- Email  -->
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-white mb-1">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required
                           class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </div>

                <!-- Password  -->
                <div class="mb-6">
                    <label for="password" class="block text-sm font-medium text-white mb-1">Password:</label>
                    <input type="password" id="password" name="_password" required
                           class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </div>

                <input type="hidden" name="_target_path" value="{{ path('home') }}">

                <!-- Submit  -->
                <button type="submit"
                        class="w-full py-2.5 text-sm font-medium text-white bg-blue rounded-md hover:bg-blue-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-none">
                    Login
                </button>
            </form>
        </div>
    </div>

{% endblock %}
