@import "tailwindcss";

@source "../../templates/**/*.twig";
@source "../../assets/**/*.js";

@theme {
    --shadow-card: 0 8px 24px rgba(0,0,0,0.08);
    --font-display: Poppins, ui-sans-serif, system-ui, sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
    @apply  text-slate-900 dark:bg-slate-950 dark:text-slate-100  bg-zinc-950
}

.wtf-gui-bg {
    background:
        linear-gradient(
            to bottom,
            rgb(3 7 18),
            rgb(9 9 11)
        );
}

